<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="stylesheets/UserManage.css">
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/bootstrap.js"></script>

</head>
<body>


<div class="container-fluid" >

    <div class="row Theme2">
        <form class="inputBar navbar-form navbar-left"  >
            <div class="input-group">
                    <span class="input-group-addon Theme2">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                <input type="text" class="form-control" id="searchBar" placeholder="查询搜索" list="inputlist" onkeydown=inputCall()>
                <datalist id = "inputlist" >
                </datalist>
            </div>
        </form>
        <button class="inputBar btn btn-success" onclick="searchButton()">搜索</button>
        <button class="inputBar btn btn-success" onclick="clearCheckBox()">清空</button>
    </div>
</div>

<div class="container" >
    <div class="row Middle" style="margin: 2%">
        <span class="glyphicon glyphicon-th-list"> 编辑用户</span>
    </div>

    <hr>

    <div class="row" style="margin-top: 35px">
        <form class="form-horizontal" >

            <div class="form-group" id="userNameDiv">
                <label for="userName" class="col-sm-1  control-label" >用户名</label>
                <div class="col-sm-4">
                    <input type="text" id="userName" class="form-control inpuxBoxWidth" disabled/>
                </div>
                <label class="col-sm-2  control-label" id="userNameLabel"></label>
            </div>

            <div class="form-group" id="passWord1Div">
                <label for="passWord1" class="col-sm-1  control-label">新密码</label>
                <div class="col-sm-4 ">
                    <input type="password" id="passWord1" class="form-control inpuxBoxWidth"/>
                </div>
                <label class="col-sm-2  control-label" id="passWord1Label"></label>
            </div>

            <div class="form-group" id="passWord2Div">
                <label for="passWord2" class="col-sm-1  control-label">密码确认</label>
                <div class="col-sm-4 ">
                    <input type="password" id="passWord2" class="form-control inpuxBoxWidth"/>
                </div>
                <label class="col-sm-2  control-label" id="passWord2Label"></label>
            </div>

            <div class="form-group" id="projectNameDiv">
                <label for="projectName" class="col-sm-1  control-label">项目名</label>
                <div class="col-sm-4 ">
                    <input type="text" id="projectName" class="form-control inpuxBoxWidth"/>
                </div>
                <label class="col-sm-2  control-label" id="projectNameLabel"></label>
            </div>

            <div class="form-group">
                <div class="col-sm-11 col-sm-offset-1">
                    <input type="button" value="确认修改" class="btn btn-primary button_inline" onclick="editUser()" data-target="#myModal">
                    <a href="/Manage">
                        <input type="button" value="返回" class="btn btn-primary button_inline" >
                    </a>
                </div>
            </div>
        </form>
    </div>



</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    提示
                </h4>
            </div>
            <h4 class="modal-body" id="tip_text">
                在这里添加一些文本
            </h4>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<script src="javascripts/editUser.js"></script>
</body>
</html>