<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="stylesheets/UserManage.css">
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/bootstrap.js"></script>

</head>
<body>

<div class="container-fluid" >

    <div class="row Theme2">
        <form class="inputBar navbar-form navbar-left"  >
            <div class="input-group">
                    <span class="input-group-addon Theme2">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                <input type="text" class="form-control" id="searchBar" placeholder="查询搜索" list="inputlist" onkeydown=inputCall()>
                 <datalist id = "inputlist" >
                 </datalist>
            </div>
        </form>
        <button class="inputBar btn btn-success" onclick="searchButton()">搜索</button>
        <button class="inputBar btn btn-success" onclick="clearCheckBox()">清空</button>
    </div>
</div>

<div class="container" >
    <div class="row Middle" style="margin: 2%">
        <span class="glyphicon glyphicon-th-list"> 用户列表</span>
    </div>

    <hr>
    <br>

    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-bordered table-hover table-striped Middle "  id="userTable">
                <tr style="background: #6f7e95">
                    <th class="text-center">ID</th>
                    <th class="text-center">用户名</th>
                    <th class="text-center">项目名</th>
                    <th class="text-center">操作</th>
                </tr>
            </table>
        </div>
    </div>
    <br>

    <div class="row" >
        <div class="col-xs-12 text-center" id="buttonBar">

        </div>
    </div>

</div>
<!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"></button>-->
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    提示
                </h4>
            </div>
            <h4 class="modal-body" id="tip_text">
                在这里添加一些文本
            </h4>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script src="javascripts/Manage.js"></script>

</body>
</html>