<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户管理系统</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="stylesheets/UserManage.css">
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/bootstrap.js"></script>

</head>
<body>

<div class="container-fluid">

    <div class="row ">
        <div class="col-sm-2 full_Screen_Height Theme1 text-center">
            <div class="row Bottom_border " >
                <h2>文件系统可视化</h2>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4">
                        <img src="images/UserExample.jpg" alt="管理员头像" class="img-responsive img-circle">
                    </div>
                </div>
                <ul class="nav" >
                    <li><a href="#" class="Middle" >
                        管理员名字
                        <span class="caret"></span>
                    </a></li>
                </ul>
            </div>

            <div class="row Bottom_border">
                <ul class="nav " >
                    <li><a href="/Manage" target="iframe_manage" class="Larger" >用户管理</a></li>
                    <li><a href="/add" class="Middle" target="iframe_manage">添加用户</a></li>
                    <li><a href="/edit" target="iframe_manage" class="Middle" >修改信息</a></li>
                </ul>
            </div>

            <div class="row Bottom_border">
                <ul class="nav" >
                    <li><a href="#" class="Middle" >返回首页</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-10 full_Screen_Height Theme3">

            <iframe width="100%" src="/Manage" id="iframe_manage" name="iframe_manage" frameborder="0" ></iframe>

        </div>

    </div>
</div>

<script src="javascripts/UserManage.js"></script>
</body>
</html>