.Test {
    border: 1px #4cae4c solid;

}

.full_Screen_Height{
}

.Theme1 {
    background: #354052;
    color: white;
}

.Theme2 {
    background: #6f7e95;
    color: white;
}

.Theme3 {
    background: #6f7e95;
}

.White {
    color: #FFFFFF;
}

.Larger {
    font-size: 150%;
}

.Middle {
    font-size: 130%;
}

.Bottom_border{
    border-bottom: 1px #5e5e5e solid;
}

.inpuxBoxWidth {
    width: 340px;
}

.button_inline {
    margin-right: 40px;
}

.ButtonMargin {
    margin-right: 1%;
}

.inputBar {
    margin-top: 1%;
    margin-bottom: 1%;
}



